h1{
    text-align: center;
    font-size: 150px;
    color:#342609 ;
}

h2{
    font-size: 100px;
    color:#342609;
}

p{
    color:#342609;
}

.headingColor{
    background:#FD3A0F;
}

.backgroundColor{
    background:#FC7307;
}

.footerColor{
    background: #342609;
}




