h1{
    text-align: center;
    font-size: 200px;
}


.backgroundColor{
    background:#036bfc;
}

h2{
    font-size: 100px;
}

.textExtraLarge{
    font-size: 200px;
}

#results {
    width: 80%;
    margin: 0 auto;
}

#btnToSelection {
    display: block;
    height: 40px;
    width: 80%;
    margin: 0 auto;
}

table input {
    height: 40px;
    width: 100%;
    min-width: 75px;
}
